body{
    box-sizing: border-box;
    background-color: #d1d1d1;
}
.container{
    display: grid;
    max-height: 900px;
    max-width: 900px;
    grid-template: repeat(4, minmax(200px, 200px)) / repeat(4, minmax(200px, 200px));
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: 20%;

}

img{
    /* max-width: 200px; */
    height: auto;
}
p {
    font-family: 'Playfair-Display';
    font-size: 4em;
}
.item1, .item2, .item5{
    color: #ce2828;
    z-index: -10;
}

.item1 {
    grid-area: 1/1/2/2;
    z-index: 10;
    /* color: #fff; */
}
.item2 {
    grid-area: 1/2/2/2;
}

.item3{
    grid-area: 2/2/3/3;

}
.item4 {
    grid-area: 2/3/3/4;
}
.item5 {
    grid-area: 2/4/3/5;
    z-index: -10;
}
.item6 {
    grid-area: 3/1/4/2;
}
.item7 {
    grid-area: 3/2/4/3;
}
.item8 {
    grid-area: 4/2/5/3;
}
.item9 {
    grid-area: 4/3/5/4;
}
.item10 {
    grid-area: 4/4/5/5;
}
.item12 {
    grid-area: 1/1/2/2;
}
.item13 {
    grid-area: 1/1/2/4;
    z-index: -10;
    opacity: .7;
}
.item14 {
    grid-area: 1/4/4/5;
    opacity: .7;
}