body{
    box-sizing: border-box;
}
.container{
    display: grid;
    grid-template: repeat(4, minmax(200px, 400px)) / repeat(4, minmax(200px, 400px));
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

img{
    max-width: 400px;
    height: auto;
}
p {
    font-family: 'Playfair-Display';
    font-size: 10em;
}
.item1 {
    grid-area: 1/1/2/2;
    z-index: 1000;
    color: #fff;
}
.item3{
    grid-area: 1/1/2/2;
}
.item12 {
    grid-area: 1/1/2/2;

}